version: '3.8'

services:


  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: user
    ports:
      - "5432:5432"
    networks:
      - micro-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      retries: 5
      timeout: 5s

  zookeeper:
    image: bitnami/zookeeper:latest
    container_name: zookeeper
    environment:
      ALLOW_ANONYMOUS_LOGIN: "yes"
    ports:
      - "2181:2181"
    networks:
      - micro-net
    healthcheck:
      test: ["CMD", "echo", "ruok", "|", "nc", "localhost", "2181"]
      interval: 10s
      retries: 5

  kafka:
    image: bitnami/kafka:latest
    container_name: kafka
    environment:
      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
    ports:
      - "9092:9092"
    depends_on:
      zookeeper:
        condition: service_healthy
    networks:
      - micro-net
    healthcheck:
      test: ["CMD", "bash", "-c", "echo > /dev/tcp/localhost/9092"]
      interval: 10s
      retries: 5


  eureka-service:
    build: ./Eureka-Service
    container_name: eureka-server
    ports:
      - "8761:8761"
    networks:
      - micro-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8761/actuator/health"]
      interval: 10s
      retries: 5


  config-service:
    build: ./Config-Service
    container_name: config-service
    ports:
      - "8888:8888"
    depends_on:
      eureka-service:
        condition: service_healthy
    networks:
      - micro-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8888/actuator/health"]
      interval: 10s
      retries: 5


  user-service:
    build: ./User-Service
    container_name: user-service
    ports:
      - "8090:8090"
    depends_on:
      postgres:
        condition: service_healthy
      kafka:
        condition: service_healthy
      eureka:
        condition: service_healthy
      config-service:
        condition: service_healthy
    networks:
      - micro-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8090/actuator/health"]
      interval: 10s
      retries: 5
      start_period: 20s


  compte-service:
    build: ./Compte-Service
    container_name: compte-service
    ports:
      - "8080:8080"
    depends_on:
      user-service:
        condition: service_healthy
    networks:
      - micro-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/actuator/health"]
      interval: 10s
      retries: 5

  gateway-service:
    build: ./Gateway-Service
    container_name: gateway-service
    ports:
      - "8085:8085"
    depends_on:
      compte-service:
        condition: service_healthy
      user-service:
        condition: service_healthy
      eureka:
        condition: service_healthy
    networks:
      - micro-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8085/actuator/health"]
      interval: 10s
      retries: 5

networks:
  micro-net:
    driver: bridge