version: '3.8'

services:

  postgres:
    image: postgres:16
    container_name: postgres-db
    environment:
      POSTGRES_DB: userdb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: user
    ports:
      - "5432:5432"
    networks:
      - micro-net

  zookeeper:
    image: bitnami/zookeeper:latest
    environment:
      ALLOW_ANONYMOUS_LOGIN: "yes"
    ports:
      - "2181:2181"
    networks:
      - micro-net

  kafka:
    image: bitnami/kafka:latest
    environment:
      KAFKA_CFG_ZOOKEEPER_CONNECT: zookeeper:2181
      ALLOW_PLAINTEXT_LISTENER: "yes"
      KAFKA_CFG_LISTENERS: PLAINTEXT://:9092
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092
    ports:
      - "9092:9092"
    depends_on:
      - zookeeper
    networks:
      - micro-net

  user-service:
    build: ./User-Service
    container_name: user-service
    ports:
      - "8090:8090"
    depends_on:
      - postgres
      - kafka
    networks:
      - micro-net
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8090/actuator/health"]
      interval: 5s
      retries: 5
      start_period: 10s

  compte-service:
    build: ./Compte-Service
    container_name: compte-service
    ports:
      - "8080:8080"
    depends_on:
      user-service:
        condition: service_healthy
    networks:
      - micro-net

networks:
  micro-net:
